{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h3>{{ username }}'s Info</h3>
    </br>
    <table class="table table-striped">
        <thead>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </thead>
        {% for datum in data %}
        <tr>
            <td>{{ datum["symbol"] }}</td>
            <td>{{ datum["name"] }}</td>
            <td>{{ datum["shares"] }}</td>
            <td>{{ datum["price"] }}</td>
            <td>{{ datum["total"] }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="4">CASH</td>
            <td>{{ cash }}</td>
        </tr>
        <tr>
            <td colspan="4">GRAND TOTAL</td>
            <td>{{ grand_total }}</td>
        </tr>
    </table>

{% endblock %}
